@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

#backToTop {
  font-size: 16px;
  z-index: 1000;
  transition: opacity 0.3s;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: black;
  width: 100%;
  height: 14%;
  background: linear-gradient(0deg, #FACD38 0%, #947921 100%);
  gap: 100px;

  top: 0;
  z-index: 10;
  padding: 10px 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container img {
  max-width: 100px;
}

.lista_menu {
  list-style: none;
  display: none;
  gap: 20px;
}

.lista_menu li a {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  transition: color 0.3s;
}

.lista_menu li a:hover {
  color: white;
}

.background-section {
  background-image: url('Imagens/image.png');
  opacity: 98%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
  }
}

.Frase {
  margin-top: 150px;
  margin-bottom: 50px;
  font-family: monospace;
}

.História {
  background-color: rgba(98, 98, 100, 0.5);
  color: white;
  width: 60%;
  border-radius: 50px;
  padding: 30px;
  font-size: large;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}

.Segmentos {
  display: flex;
  background: radial-gradient(194.01% 50% at 50% 50%, #2C388F 44%, #0D1029 100%);
  text-align: center;
  justify-content: center;
  gap: 50px;
  padding: 50px;
  margin-bottom: 100px;
}

.Segmentos img {
  height: auto;
  max-width: 300px;
  border-radius: 10%;
  margin: 0 auto;
}

.Venda {
  font-size: 300%;
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  background: linear-gradient(0deg, #FACD38 0%, #947921 100%);
  color: #000;
  border: none;
  padding: 5px 20px;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  color: #fff;
}

.Contatos {
  display: flex;
  background-color: white;
  text-align: center;
  justify-content: center;
  gap: 50px;
  padding: 50px;
  margin-bottom: 100px;
}

.Contatos #logo_wpp {
  height: 50px;
  max-width: 100%;
}

.Vendedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 10px;

  img {
    border-radius: 50%;
  }
}

.Vendedor h4 {
  margin-bottom: 10px;
  font-size: xx-large;
}

.FAQ {
  padding: 50px;
  background: radial-gradient(194.01% 50% at 50% 50%, #3b458f 44%, #101229 100%);
  border-radius: 15px;
  font-family: Arial, sans-serif;
  margin-bottom: 100px;
}

.FAQ h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color:#ffffff;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h4 {
  font-size: 1.2rem;
  color: #ffffff;
}

.faq-item p {
  font-size: 1rem;
  color: #b9a7a7;
  margin-top: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: xx-large;
  width: 100%;
  height: auto;
  padding: 20px;
  background: linear-gradient(0deg, #FACD38 0%, #947921 100%);
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style-type: none;
  padding: 0;
}

footer a {
  font-size: 25px;
}

footer li img {
  max-width: 50px;
  height: auto;
  margin-top: 15px;
}

.convite {
  margin: 0;
  text-align: right;
  align-items: right;
  justify-content: right;
}

/* medias */

@media (max-width: 768px) {
  .lista_menu.mostrar {
    display: block;
    position: absolute;
    top: 100px;
    background-color: #FACD38;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 17px;
    text-align: center;
  }
  
  /* exibir o menu hamburguer em dispositivos menores */
  .menu-toggle {
    display: block;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: -50px;
  }

  .lista_menu li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .Segmentos, 
  .Contatos {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    gap: 0;
    width: 400px;
  }

  img {
    display: flex;
    max-width: 200px;
  }

  .background-section {
    h4 {
      font-size: 12px;
    }
  }
  
  .Frase {
    margin-top: 110px;
    margin-bottom: 50px;
    padding: 1px;
    font-size: 15px;
  }
  
  .História {
    width: 80%;
    padding: 20px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 70px;
  }

  .Segmentos {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
  }

  .Segmentos img {
    height: auto;
    width: 100%;
  }
  
  .Venda {
    font-size: 40px;
  }

  .Contatos {
    width: 100%;
    gap: 40px;
    margin-bottom: 70px;
    margin-top: -90px;
  }
  
  .Contatos #logo_wpp {
    height: 40px;
  }
  
  .Vendedor h4 {
    font-size: 28px;
  }

  .FAQ {
    width: 100%;
    padding: 50px 20px;
    margin-bottom: 100px;
  }
  
  .FAQ h3 {
    font-size: 1.8rem;
  }
  
  .faq-item h4 {
    font-size: 1.0rem;
  }
  
  .faq-item p {
    font-size: 0.8rem;
  }

  .convite {
    font-size: 28px;
  }

  footer p {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 18px;
  }
  
  footer .rodape ul {
    list-style-type: none;
  }

  footer .rodape li {
    margin: 0 -15px;
  }
  
  footer li img {
    max-width: 29px;
    height: auto;
  }
  
}

@media (min-width: 768px) and (max-width: 965px){
  .lista_menu {
    font-size: 1.2rem;
  }

  .Segmentos {
    display: flex;
    margin-bottom: 100px;
  }

  .Segmentos img {
    height: auto;
    max-width: 145px;
    border-radius: 10%;
    margin: 0 auto;
  }

  .Venda {
    font-size: 25px;
  }

  button {
    font-size: 17px;
  }

  .Contatos {
    margin-top: -40px;
    margin-bottom: 40px;
  }
  
  .Contatos #logo_wpp {
    height: auto;
    width: 40px;
  }
  
  .Vendedor {
    img {
      width: 150px;
      height: auto;
      border-radius: 50%;
    }
  }
  
  .Vendedor h4 {
    margin-bottom: 10px;
    font-size: 28px;
  }

  footer p {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 18px;
  }

  footer li img {
    max-width: 29px;
    height: auto;
  }
}


@media (min-width: 966px) and (max-width: 1550px){
  .Segmentos {
    display: flex;
    margin-bottom: 100px;
  }

  .Segmentos img {
    height: auto;
    width: 200px;
    border-radius: 10%;
  }

  .Venda {
    font-size: 29px;
  }

  .Contatos {
    margin-top: -40px;
    margin-bottom: 40px;
  }
  
  .Contatos #logo_wpp {
    height: auto;
    width: 40px;
  }
  
  .Vendedor {
    img {
      width: 150px;
      height: auto;
      border-radius: 50%;
    }
  }
  
  .Vendedor h4 {
    margin-bottom: 10px;
    font-size: 28px;
  }

  footer p {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 18px;
  }

  footer li img {
    max-width: 29px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .lista_menu {
      display: flex;
      gap: 20px;
  }

  /* ocultar o menu hamburguer em telas maiores */
  .menu-toggle {
      display: none;
  }
}