* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}


.container {

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: x-large;
  color: black;
  width: 100%;
  height: 14%;
  background: linear-gradient(0deg, #FACD38 0%, #947921 100%);
  gap: 100px;
  position: fixed;


  img {
    margin-right: 0px;
    max-width: 140px;
  }
}

.background-section {
  background-image: url('Imagens/image.png');
  opacity: 98%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.Frase {
  position: relative;
  top: -30%;
  margin-top: 30%;
  font-family: monospace;

}

.História {
  background-color: rgb(98, 98, 100, 0.5);
  color: rgb(255, 255, 255);
  width: 60%;
  border-radius: 50px;
  padding: 30px;
  font-size: large;

}

.header {
  position: fixed;
  z-index: 1;
  /*fica na frente do body */

}

.Segmentos {

  display: flex;
  background-color: blue;
  text-align: center;
  justify-content: center;
  gap: 100px;

  img {
    gap: 100px;
    height: 200px;
    max-width: 100%;
  }

}

.Serralheria,
.Metalurgica,
.Ferramentas,
.Materiais {

  display: grid;
  font-size: 300%;
  justify-content: center;
  gap: 10px;

}

button {
  background: linear-gradient(0deg, #FACD38 0%, #947921 100%);
  color: #000;
  border: none;
  padding: 5px 20px;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;


}

button:hover {

  color: #fff;

}
.Contatos{

  display: flex;
  background-color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  gap: 100px;

  img {
    gap: 100px;
    height: 200px;
    max-width: 100%;
  }

}
.Vendedor01,
.Vendedor02,
.Vendedor03,
.Vendedor04 {

  display: grid;
  font-size: 300%;
  justify-content: center;
  gap: 10px;

}
li {
  list-style: none;
  color: #000;
  border: none;
  padding: 5px 20px;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;


}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: xx-large;
  width: 100%;
  height: auto;
  padding: 20px;
  background: linear-gradient(0deg, #FACD38 0%, #947921 100%);

}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style-type: none;
  padding: 0;

}

footer li img {
  max-width: 50px;
  height: auto;

}

.convite {
  margin: 0;
  text-align: right;
  align-items: right;
  justify-content: right;
}




@media(max-width:400px) {

  .Segmentos,
  .container {

    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    gap: 0;
    width: 400px;

  }

  img {
    display: flex;
    max-width: 200px;
  }

}